.load{
   position: absolute;
   width: 100%;
   top: 0;
   left: 0;
   height: 6rem;
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgba(188, 188, 190, 0.74);;
    z-index: 1;
}
.spinner {
    width: 4rem;
    height:4rem;
    box-shadow: 28px 0px 0 0 rgba(117,117,117,0.2), 22.7px 16.5px 0 0 rgba(117,117,117,0.4), 8.68px 26.6px 0 0 rgba(117,117,117,0.6), -8.68px 26.6px 0 0 rgba(117,117,117,0.8), -22.7px 16.5px 0 0 #757575;
    animation: spinner .75s infinite linear;
 }
 
 @keyframes spinner {
    to {
       transform: rotate(360deg);
    }
 }